@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #FF5959;
    --secondary-color: #707070;
    --light-color: #fff;
    --dark-color: #000;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: var(--dark-color);
    margin-top: 130px;
    margin-bottom: 20px;
}

.section-description {
    font-size: 18px;
    text-align: center;
    color: var(--secondary-color);
}

.primary-btn {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 20px;
    color: var(--light-color);
    text-decoration: none;
}

/* header styles  */
header {
    background-image: url('../images/donation6.jpg');
    background-color: rgb(97, 96, 96);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    color: black;
}


header div {
    z-index: 100;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: var(--light-color);
    max-width: 830px;
    line-height: 79px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.header-description {
    max-width: 700px;
    font-size: 18px;
    text-align: center;
    color: var(--light-color);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    line-height: 28px;
}

/* donate today styles  */
.donate-today {
    padding: 0 80px;
}

.donate-today .section-description {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.donate-today-amount-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.donate-today-amount-container h3 {
    background: #FAFAFA;
    border-radius: 5px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: var(--secondary-color);
    padding: 24px 44px;
}

.donate-today-amount-container .decent-amount {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: var(--primary-color);

}

.donate-today-input {
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid #DADADA;
}

.donate-today-input input {
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    color: var(--secondary-color);
    padding: 10px 0;
}

.donate-today-btn {
    text-align: center;
}

/* donate plan section styles */
.donate-plan {
    /* background-color: red; */
}

.donate-plan .section-description {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.donate-plan-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.donate-plan-segment {
    padding: 63px 23px;
    border-radius: 5px;
}

.donate-plan-segment:nth-child(1) {
    background: rgba(79, 157, 166, 0.1);
}

.donate-plan-segment:nth-child(2) {
    background: rgba(255, 89, 89, 0.1);
}

.donate-plan-segment:nth-child(3) {
    background: #FFF4D6;
}

.donate-plan-icon {
    margin-bottom: 30px;
}

.donate-plan-title {
    font-weight: 600;
    font-size: 24px;
    /* line-height: 36px; */
    color: var(--dark-color);
    margin-bottom: 16px;
}

.donate-plan-description {
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-color);
}

/* depend on donation section styles  */
.depend-on {
    margin-top: 130px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.depend-on .section-title {
    margin-top: 0;
    line-height: 54px;
}

.depend-on .section-title,
.depend-on .section-description {
    text-align: left;
}

.depend-on .section-description {
    margin-bottom: 30px;
}

.depend-on img {
    width: 100%;
    border-radius: 5px;
}

/* updates styles  */
.updates .section-description {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.updates {
    padding: 0 120px;
}

.updates .section-description {
    margin-bottom: 50px;
}

.subscription-area {
    background: #FFF4D6;
    padding: 70px 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-area input,
button {
    border: none;
    outline: none;
    border-radius: 5px;
}

.subscription-area input {
    padding: 14px 17px;
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-color);
    background-color: #D9D9D9;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.subscription-area button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--primary-color);
    color: var(--light-color);
    padding: 14px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}